:root {
  --background: #ffffff;
  --text-color: black;
  --second-text-color: #6b6b6b;
  --primary-color: #EC6941;
  --secondary-color: #FFE8D6;

  --regular-font: 'object_sans', Arial, sans-serif;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--text-color);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@font-face {
  font-family: 'object_sans';
  src: url('../../public/fonts/ObjectSans-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
