.page {
  padding: 34px 60px;
  padding-bottom: 29px;
}
.header_text_block{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header_title_logo {
  width: 125px;
  height: 29px;
  transition: width 0.3s, height 0.3s;
}

.header_subtitle {
  transform-origin: center center;
  line-height: 12px;
  color: #6b6b6b;
  font-size: 10px;
}

.main{}

.advantages{}

.advantages2{}

.types{}

.categories{}

.styles{}

.bonus{}

.free_3d{}

.partners{}

.installment{}

.quiz{}

.banner {}

.feedbaack {}

.footer {}

@media (max-width: 500px) {
  .header_title_logo {
    width: 96px;
    height: 23px;
  }
  .page {
    padding: 16px 20px;
    padding-bottom: 29px;
  }

  .header {
    display: flex;
    justify-content: space-between;
  }

  .main {
    align-items: center;
  }

  .footer {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}
